resource "huaweicloud_compute_instance" "{{ ecs_name }}" {
  name                = "{{ hostname }}"
  image_id            = "{{ image_id }}"
  flavor_id           = "{{ flavor }}"
  security_group_ids  = [
    {{{ security_groups }}}
  ]
  region              = "{{ region }}"
  availability_zone   = "{{ az }}"
  admin_pass          = "{{ os_password }}"
  {{#keypair_name}}
  key_pair            = "{{ keypair_name }}"
  {{/keypair_name}}
  system_disk_type    = "{{ system_disk_type }}"
  system_disk_size    = {{ system_disk_size }}
  {{#project}}
  enterprise_project_id = data.huaweicloud_enterprise_project.ep_{{ project }}.id
  {{/project}}

  network {
    uuid              = huaweicloud_vpc_subnet.{{ nic1_subnet }}.id
    fixed_ip_v4       = "{{ nic1_fixed_ip }}"
    source_dest_check = {{ source_dest_check }}
  }
  {{#scheduler_hints}}

  scheduler_hints {
    {{#scheduler_hints.group}}
    group         = huaweicloud_compute_servergroup.servergroup_{{ scheduler_hints.group }}.id
    {{/scheduler_hints.group}}
    {{#scheduler_hints.tenancy}}
    tenancy       = "{{ scheduler_hints.tenancy }}"
    {{/scheduler_hints.tenancy}}
  }
  {{/scheduler_hints}}
  {{#tag}}

  tags = {
    {{tag.key}}   = "{{tag.value}}"
  }
  {{/tag}}
}
