resource "huaweicloud_evs_volume" "evs_{{ evs_name }}" {
  name              = "{{ evs_name }}"
  region            = "{{ region }}"
  availability_zone = "{{ az }}"
  volume_type       = "{{ type }}"
  size              = {{ size }}
  multiattach       = {{ shared }}
  device_type       = "{{ device_type }}"
  {{ #project }}
  enterprise_project_id = data.huaweicloud_enterprise_project.ep_{{ project }}.id
  {{ /project }}

  tags = {
    deployed_by   = "terraform"
  }
}
