resource "huaweicloud_compute_interface_attach" "nic_{{ ecs_name }}_{{ subnet }}" {
  instance_id = huaweicloud_compute_instance.{{ ecs_name }}.id
  network_id  = huaweicloud_vpc_subnet.{{ subnet }}.id
  fixed_ip    = "{{ fixed_ip }}"
  security_group_ids  = [ huaweicloud_networking_secgroup.{{ security_group }}.id ]
  source_dest_check   = {{ source_dest_check }}
  depends_on  = [ {{{ depends_on }}} ]
}
